body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:153px;
  top:124px;
  width:137px;
  height:25px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:300px;
  top:124px;
  width:150px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3_input {
  font-family:'Applied Font';
}
#u4 {
  position:absolute;
  left:153px;
  top:210px;
  width:137px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:300px;
  top:210px;
  width:150px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6_input {
  font-family:'Applied Font';
}
#u7 {
  position:absolute;
  left:153px;
  top:365px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7_input {
  font-family:'Applied Font';
}
#u8 {
  position:absolute;
  left:300px;
  top:290px;
  width:150px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:153px;
  top:290px;
  width:137px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
