body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:80px;
  top:140px;
  width:120px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u2_img.selected {
}
#u2.selected {
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:206px;
  width:120px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:266px;
  width:120px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:331px;
  width:120px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:391px;
  width:120px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:452px;
  width:120px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:512px;
  width:120px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14_img.selected {
}
#u14.selected {
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:270px;
  top:170px;
  width:1130px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:1113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1130px;
  height:1px;
}
#u17 {
  position:absolute;
  left:250px;
  top:10px;
  width:10px;
  height:720px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:703px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:720px;
}
#u18 {
  position:absolute;
  left:150px;
  top:10px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18_input {
  font-family:'Applied Font';
}
#u19 {
  position:absolute;
  left:20px;
  top:10px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19_input {
  font-family:'Applied Font';
}
#u20 {
  position:absolute;
  left:470px;
  top:40px;
  width:130px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:650px;
  top:40px;
  width:130px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u22_img.selected {
}
#u22.selected {
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:820px;
  top:40px;
  width:130px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:990px;
  top:40px;
  width:130px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u26_img.selected {
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:310px;
  top:40px;
  width:130px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
